

.body{
background-image: url("../../public/info.png");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
width:100vw;
height: 100vh;
position: fixed;
}


.nav{
  text-decoration: none;
  color: black;
}

.logo {
  width: 126px;
  height: 48px;
  padding-top: 8px;
}

.logoContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
  height: 50px;
}


.qaText {
  font-size: 35px;
}

  .leftCenter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height:600px;
    width: 900px;
    margin-left: 64px;
    margin-top: 72px;
  }

  .first{
    font-size: 40px;
    font-weight: 400;
    bottom: 16px;
  }
  .second{
    font-size: 25px;
    font-weight: 300;
  }

  .third{
    font-size: 16px;
    font-weight: 300;
  }

  .tryButton{
    top: 32px;
  }

  .buttons button {
    margin-right: 10px;
  }

  .next{
    padding-left: 16px;
    color: whitesmoke;
  }

